/target/
/wgpu_traces/
/.idea/
Cargo.lock
/application/android_src/app/build/
/application/android_src/.gradle/
/application/android_src/app/src/main/jniLibs/
logcat.txt
/application/dist/
/application/android_rebuild_avoidance_target/
/application/android_src/app/build